.City-title {
    width: 100%;
    /* height: 200px; */
    height: auto;
    /* background: #5fafaf; */
    background-position: 50% 50%;
    background-repeat: repeat;
    padding: .5em;
    position: relative;
}

.City-title:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}
  
.Inner {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    /* padding: 1em; */
}

.Inner p {
    line-height: 1.5em;
}

.Inner span {
    display: flex;
    justify-content: center;
}

span > button {
    margin-left: 1em;
}

.City-controls {
    margin: .5em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.City-controls > * {
    margin-right: .5em;
}

h2 {
    margin: 0 0 0.5em 0;
}

.Citizen {
    width: 100px;
    height: 50px;
    padding: .5em;
    margin: 0 .3em;
    border: 1px solid black;
    background: #afafaf;
}