.Mayor-cont {
    width: 100%;
    height: 200px;
    background: #5fafaf;
    /* background-position: 50% 50%;
    background-repeat: repeat; */
    padding: 1em;
    position: relative;
}

.Mayor-cont:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}
  
.Inner {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    /* padding: 1em; */
}

.Inner p {
    line-height: 1.5em;
}