.Common-button {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0.6em;
    margin: .5em;
    width: fit-content;
    background: #2060a0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    user-select: none;
    outline: none;
}