.Player-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 .5em;
}

.Player-thumb {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #d60a7c;
    border: 1px solid #fff;
}