* {
    box-sizing: border-box;
}

/* h1 {
    margin: 10px 0;
} */

h1, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-height: 100%; */
    min-height: 100vh;
    text-align: center;
}

.App-header {
    background-color: #222;
    height: auto;
    padding: .5em 1em;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.App-title {
    font-size: 1.5em;
}

.Todo {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: #d00;
}



/* Container elements */

.App-container {
    background: #0f4f4f;
}

.Main-container {
    padding: 1em;
    display: flex;
    height: 100%;
    flex: 1 0 auto;
    flex-direction: column;
}

.Top-container {
    padding: .5em;
    display: flex;
    justify-content: center;
}



/* Top elements */

.Top-item {
    padding: .5em;
    margin: 0 .3em;
    width: 200px;
    height: 100px;
}

.Top-city {
    background: #a5a5a5;
}

.Top-mayor {
    background: #d5d5d5;
}



/* Common elements */

.Link-back {
    color: #0000ff;
    cursor: pointer;
    flex: 0 0 auto;
    margin-top: 1em;
}

.No-padding {
    padding: 0;
}

.Bottom-padding {
    padding: 0;
    padding-bottom: 1em;
}

.Flex-center {
    align-items: center;
}